.newAppview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.newAppForm {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 2rem;
  padding: 1rem;
  width: 60%;
  font-size: larger;
  
  button {
    border: 3px solid green;
    border-radius: 2rem;
    font-size: larger;
    padding: .5rem 1rem;
    color: white;
    background-color: green ;
  }
}

.labelInput{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  label{
    margin-right: 1rem;
  }
  input, select, textarea {
    border-radius: .7rem;
    size: larger;
    padding: .3rem;
    font-size: large;
  }
}